<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Shoe Store</title>
  </head>
  <body>
    <div class="container">
      <h1>The store you were looking for:</h1>
      <h1>{{ store.getStoreName }}</h1>
      <h3>{{ store.getAddress }}</h3>
      {% if brands is not empty %}
      <p>Here's the brands at this store:</p>
      <ul>
        {% for brand in brands %}
        <li>{{ brand.getBrandName }}</li>
        <ul>
          <li>{{ brand.getPrice }}</li>
        </ul>
        {% endfor %}
      </ul>
    {% endif %}

    <h4>Add some more brands to this store:</h4>

    <form action='/add_brands' method='post'>
      <input id="store_id" name="store_id" type="hidden" value="{{ store.getId }}">
      <label for="brand_id">Select a brand</label>
      <select id='brand_id' name='brand_id' type='text'>
        {% for brand in all_brands %}
        <option value="{{ brand.getId }}"> {{ brand.getBrandName }} {{ brand.getPrice }} </option>
        {% endfor %}
      </select>
      <button type='submit'>Add brand</button>
    </form>

  <p><a href='/'>Home</a></p>
</div>
</body>
</html>
